@using Microsoft.AspNetCore.Identity
@using StellarIO.Models

@inject SignInManager<StellarIO.Models.User> SignInManager
@inject UserManager<StellarIO.Models.User> UserManager

<!DOCTYPE html>
<html lang="en" ng-app="stellarIO">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StellarIO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="body-wrapper">
        <aside class="container-nav-desktop">
            <partial name="_NavigationPartial" />
        </aside>
        <div class="main-container">
            <main role="main" class="bg-border-gradient-1">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-resource.js"></script>
    <script src="~/js/app/service.js" asp-append-version="true"></script>
    <script src="~/js/app/app.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>

