@model StellarIO.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div ng-controller="dashboardController" class="dashboard" ng-class="{'showing-planet': selectedPlanet}">
    <div ng-if="!myPlanets" class="page-loading-indicator">
        <i class="fas fa-2xl fa-spinner fa-spin"></i>
    </div>
    <div class="planet-list page-list">
        <div class="planet-list-item hover-bg-border-gradient-1" ng-repeat="planet in myPlanets" ng-click="selectPlanet(planet)">
            <div class="d-flex flex-xxl-nowrap flex-wrap">
                <div class="d-flex">
                    <div class="page-list-item-img planet-list-item-img">
                        <div class="planet-img-container">
                            <img class="planet-img" ng-src="{{getPlanetImgSrc(planet)}}" style="{{getPlanetImgStyle(planet)}}" />
                        </div>
                    </div>
                    <div class="planet-list-item-body">
                        <div class="d-flex">
                            <h5>{{planet.name}}</h5>
                        </div>
                        <div>
                            <p class="heading-text-secondary">Resources</p>
                            <div class="d-flex">
                                <span class="badge rounded-pill bg-iron me-1"><sci-number value="planet.iron"></sci-number> Fe</span>
                                <span class="badge rounded-pill bg-silver me-1"><sci-number value="planet.silver"></sci-number> Ag</span>
                                <span class="badge rounded-pill bg-aluminum me-1"><sci-number value="planet.aluminium"></sci-number> Al</span>
                                <span class="badge rounded-pill bg-h2 me-1"><sci-number value="planet.h2"></sci-number> H<span class="small">2</span></span>
                                <span class="badge rounded-pill bg-energy"><sci-number value="planet.iron"></sci-number> <i class="fas fa-bolt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="planet-list-item-body">
                        <div>
                            <p class="heading-text-secondary">Buildings</p>
                            <div ng-repeat="building in planet.buildings">
                                <p class="building-label">{{building.name}}
                                    <span ng-if="!isInProgress(planet, building.name)" class="badge rounded-pill bg-lowlight text-lowlight ms-2">Level {{building.level}}</span>
                                    <span ng-if="isInProgress(planet, building.name)" class="badge rounded-pill bg-primary progress-bar-striped progress-bar-animated ms-2">Level {{building.level - 1}} <i class="fas fa-arrow-right"></i> {{building.level}} (<time-countdown end-time="building.constructionEndTime"></time-countdown>)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="planet-list-item-showmore">
                <i class="fas fa-chevron-right fa-xl"></i>
            </div>
        </div>
    </div>
    <div class="planet-form">
        <div>
            <a href="#" class="btn btn-secondary" ng-click="selectPlanet(null)"><i class="fas fa-arrow-left"></i> Back to Planets</a>
        </div>
        <div class="d-flex flex-wrap">
            <div class="planet-form-item-img">
                <div class="planet-img-container">
                    <img class="planet-img" ng-src="{{getPlanetImgSrc(selectedPlanet)}}" style="{{getPlanetImgStyle(selectedPlanet)}}" />
                </div>
            </div>
            <div>
                <h2>{{selectedPlanet.name}}</h2>
                <div>
                    <p class="heading-text-secondary">Resources</p>
                    <div class="d-flex mb-3">
                        <span class="badge rounded-pill bg-iron me-1"><sci-number value="selectedPlanet.iron"></sci-number> Fe</span>
                        <span class="badge rounded-pill bg-silver me-1"><sci-number value="selectedPlanet.silver"></sci-number> Ag</span>
                        <span class="badge rounded-pill bg-aluminum me-1"><sci-number value="selectedPlanet.aluminium"></sci-number> Al</span>
                        <span class="badge rounded-pill bg-h2 me-1"><sci-number value="selectedPlanet.h2"></sci-number> H<span class="small">2</span></span>
                        <span class="badge rounded-pill bg-energy"><sci-number value="selectedPlanet.iron"></sci-number> <i class="fas fa-bolt"></i></span>
                    </div>
                </div>
                <div>
                    <p class="heading-text-primary">Info</p>
                    <p class="heading-text-secondary">Relative speed</p>
                    <div class="mb-2">
                        <span class="badge rounded-pill bg-completion"><i class="fas fa-clock"></i> : {{selectedPlanet.relativeSpeed}}%</span>
                    </div>
                    <p class="heading-text-secondary">Relative resource output</p>
                    <div class="d-flex">
                        <span class="badge rounded-pill bg-iron me-1">Fe : {{selectedPlanet.relativeIronOutput}}%</span>
                        <span class="badge rounded-pill bg-silver me-1">Ag : {{selectedPlanet.relativeSilverOutput}}%</span>
                        <span class="badge rounded-pill bg-aluminum me-1">Al : {{selectedPlanet.relativeAluminiumOutput}}%</span>
                        <span class="badge rounded-pill bg-h2 me-1">H<span class="small">2</span> : {{selectedPlanet.relativeH2Output}}%</span>
                        <span class="badge rounded-pill bg-energy"><i class="fas fa-bolt"></i> : {{selectedPlanet.relativeEnergyOutput}}%</span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="form-seperator" />

        <h3>Buildings</h3>
        <div class="page-list">
            <div class="planet-list-item hover-bg-border-gradient-1" ng-repeat="building in currentBuildingOptions" ng-click="selectBuildingOption(building)" data-bs-toggle="modal" data-bs-target="#buildingOptionModal">
                <div class="d-flex">
                    <div class="page-list-item-img">
                        <div class="building-img-container">
                            <img class="building-img" ng-src="{{getBuildingImgSrc(building)}}" />
                        </div>
                    </div>
                    <div class="planet-list-item-body">
                        <div class="d-flex">
                            <h5>{{building.name}}
                                <span ng-if="!isInProgress(selectedPlanet, building.name)" class="badge rounded-pill ms-2" ng-class="{'bg-primary': building.level > 1, 'bg-lowlight': building.level <= 1}">Level {{building.level-1}}</span>
                                <span ng-if="isInProgress(selectedPlanet, building.name)" class="badge rounded-pill ms-2 progress-bar-striped progress-bar-animated bg-primary">Level {{building.level-2}} <i class="fas fa-arrow-right"></i> {{building.level-1}} (<time-countdown end-time="getBuildingByName(selectedPlanet, building.name).constructionEndTime"></time-countdown>)</span>
                            </h5>
                        </div>
                        <div>
                            <p class="text-lowlight">{{building.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="buildingOptionModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog building-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <img ng-src="{{getBuildingImgSrc(selectedBuildingOption)}}" />
                        <div class="header-content">
                            <h5 class="modal-title text-light">{{selectedBuildingOption.name}}</h5>
                            <span ng-if="!isInProgress(selectedPlanet, selectedBuildingOption.name)" class="badge rounded-pill" ng-class="{'bg-primary': selectedBuildingOption.level > 1, 'bg-lowlight': selectedBuildingOption.level <= 1}">Level {{selectedBuildingOption.level-1}}</span>
                            <span ng-if="isInProgress(selectedPlanet, selectedBuildingOption.name)" class="badge rounded-pill progress-bar-striped progress-bar-animated bg-primary">Level {{selectedBuildingOption.level-2}} <i class="fas fa-arrow-right"></i> {{selectedBuildingOption.level-1}} (<time-countdown end-time="getBuildingByName(selectedPlanet, selectedBuildingOption.name).constructionEndTime"></time-countdown>)</span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p class="text-lowlight">{{selectedBuildingOption.description}}</p>
                        <p class="heading-text-secondary"><span ng-if="selectedBuildingOption.level <= 1">Construction</span><span ng-if="selectedBuildingOption.level > 1">Upgrade</span> costs</p>
                        <div class="d-flex mb-3">
                            <span class="badge rounded-pill bg-iron me-1"><sci-number value="selectedBuildingOption.ironCost"></sci-number> Fe</span>
                            <span class="badge rounded-pill bg-silver me-1"><sci-number value="selectedBuildingOption.silverCost"></sci-number> Ag</span>
                            <span class="badge rounded-pill bg-aluminum me-1"><sci-number value="selectedBuildingOption.aluminiumCost"></sci-number> Al</span>
                            <span class="badge rounded-pill bg-h2 me-1"><sci-number value="selectedBuildingOption.h2Cost"></sci-number> H<span class="small">2</span></span>
                            <span class="badge rounded-pill bg-energy"><sci-number value="selectedBuildingOption.energyCost"></sci-number> <i class="fas fa-bolt"></i></span>
                        </div>
                        <p class="heading-text-secondary"><span ng-if="selectedBuildingOption.level <= 1">Construction</span><span ng-if="selectedBuildingOption.level > 1">Upgrade</span> duration</p>
                        <div class="d-flex mb-3">
                            <span class="badge rounded-pill bg-duration me-1"><i class="fas fa-hourglass-half"></i> <time-duration seconds="selectedBuildingOption.duration"></time-duration></span>
                            <span class="badge rounded-pill bg-completion me-1"><i class="fas fa-clock"></i> <time-countup seconds="selectedBuildingOption.duration"></time-countup></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-click="startConstruction(selectedPlanet, selectedBuildingOption)" ng-if="!isInProgress(selectedPlanet, selectedBuildingOption.name)" ng-disabled="isAnyInProgress(selectedPlanet)">
                            <span ng-if="selectedBuildingOption.level <= 1">Start Construction</span>
                            <span ng-if="selectedBuildingOption.level > 1">Upgrade to level {{selectedBuildingOption.level}}</span>
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" ng-click="stopConstruction(selectedPlanet, selectedBuildingOption)" ng-if="isInProgress(selectedPlanet, selectedBuildingOption.name) ">
                            <span ng-if="selectedBuildingOption.level <= 2">Abort Construction</span>
                            <span ng-if="selectedBuildingOption.level > 2">Abort Upgrade</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
