@model StellarIO.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div ng-controller="dashboardController" class="dashboard page-container">
    <div ng-if="!myPlanets" class="text-center">
        <i class="fas fa-2xl fa-spinner fa-spin"></i>
    </div>
    <div ng-class="page-list">
        <div class="page-list-item" ng-repeat="planet in myPlanets">
            <h5>{{planet.name}}</h5>
        </div>
    </div>
</div>
