html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card-body ul {
    padding-left: 0;
}

.card-body li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #e9ecef;
}

    .card-body li:last-child {
        border-bottom: none;
    }

.card-body ul {
    padding-left: 0;
}

.card-body li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #e9ecef;
}

    .card-body li:last-child {
        border-bottom: none;
    }

.card-body h5 {
    margin-top: 20px;
}

.card-header {
    padding: 10px;
}

.card-body {
    padding: 10px;
}

    .card-body .row {
        margin-left: 0;
        margin-right: 0;
    }

    .card-body .col-md-6 {
        padding-left: 5px;
        padding-right: 5px;
    }

.list-unstyled {
    padding-left: 0;
}

    .list-unstyled li {
        margin-bottom: 5px;
    }

.text-white {
    color: #fff !important;
}

.card-header {
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.progress-header {
    background-color: #ffc107;
    color: black;
    position: relative;
}

    .progress-header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #28a745;
        z-index: 0;
        transition: width 0.25s;
    }

    .progress-header strong, .progress-header br, .progress-header {
        position: relative;
        z-index: 1;
    }

.text-white {
    color: #fff !important;
}

.w-fit-content {
    width: fit-content;
}

.card-building .card-header {
    width: 100%;
    height: auto;
    padding: 0px;
    min-height: 67px;
    background-color: rgba(var(--bs-dark-rgb), 1);
}

.card-building .card-header img {
    width: 100%;
    height: auto;
}

.card-building .card-header .header-content {
    position: absolute;
    bottom: 0;
    background-color: rgba(var(--bs-dark-rgb), 0.8);
    padding: 10px;
    width: 100%;
}

.card-building .card-header .header-content .badge {
    position: absolute;
    top: -10px;
    right: 8px;
}

.badge.costs {
    min-width: 32px;
    text-align: center;
}

.bg-duration {
    background-color: #000000;
}
.bg-completion {
    background-color: #000000;
}
.bg-iron {
    background-color: #d16820;
}
.bg-silver {
    background-color: #b1aea5;
}
.bg-aluminum {
    background-color: #b5b5b5;
}
.bg-h2 {
    background-color: #1fb8ef;
}
.bg-energy {
    background-color: #fdbb0d;
}